{
  "endpoint_addr": "127.0.0.1",
  "rest_scheme": "https",
  "rest_port": 8089,
  "data_receiver": {
    "port": 15001
  },
  "data_sender": {
    "port": 15000
  },
  "external": {
    "tcp_port": 15000
  },
  "streaming_process": "skywayiot-sdk-test/media_streaming_transfer_test.sh"
}
